{% extends 'base.html' %}


{% block title %}
about
{% endblock title %}




{% block body %}




  <!-- about section start -->
  <div class="layout_padding about_section">

    {% include 'message.html'%}<!---------------for email suscriber----------------->
    
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="about_taital">About Our Classified ads</h1>
          <p class="lorem_text">We build leading destinations for buying, selling, and exchanging products and services,
             used by over 300 million people every month.<br>
             We are one of the world’s fastest-growing networks of trading platforms, operating in 30+ countries around the world.<br>
             We are powered by a team of 8,000+ people, working across 5 continents in offices all around the world.
            </p>
        </div>
      </div>
    </div>
  </div>
  <!-- about section end -->


{% endblock body %}