{% extends 'base.html' %}


{% block title %}
browse ads
{% endblock title %}




{% block body %}


	<!-- section PROMOTED start -->
<div class=" layout_padding promoted_sectipon">
	<div class="container">
		<h1 class="promoted_text">Browse by <span style="border-bottom: 5px solid #4bc714;">Category</span></h1>


		<div class="images_main">
			<div class="row">
		{% for j in category %}

				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="images mb-4"><img src="{{ j.image.url }}" style="height:200px;width:100%;"></div>
					<!-- <button class="promoted_bt">{{j.name}} </button> -->
					<button class="mobile_bt mb-5"><a href="{% url 'category' j.id %}">{{j.name}}</a></button>
				</div>
			

				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- section PROMOTED end -->



{% endblock body%}